@import "macchiato.css";

* {
  color: @text;
  border: none;
  min-height: 0;
  border-radius: 0;
  font-family: "Fira Code Nerd Font";
  font-size: 13px;

  margin-left: 5px;
  margin-right: 5px;
}

window#waybar {
  all: unset;
  background: @crust;
  border-radius: 10px;
}

tooltip {
  background: @surface0;
  border-radius: 10px;
}

tooltip * {
  font-size: 15px;
}

/* ****************************** */
/* Group styles                   */
.modules-left,
.modules-center,
.modules-right {
  /* Reset module groups margins */
  margin: 0;
}

#workspaces,
#mpris,
#tray,
#statuses,
#common,
#clock {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 2.5px;
  margin-left: 2.5px;
  border-radius: 10px;
  background: @base;
}

/* ****************************** */
/* Hyprland workspaces styles     */
#workspaces * {
  margin: 0;
}

#workspaces button:hover {
  background-color: @overlay2;
  border-radius: 5px;
}

/* ****************************** */
/* MPRIS Style                    */
#mpris {
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px;
}

/* ****************************** */
/* Language styles                */
#language {
  color: pink;
}

/* ****************************** */
/* Battery styles                 */
#battery {
  color: @green;
}
#battery.warning {
  color: @peach;
  background: none;
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#battery.critical {
  color: @red;
  animation-name: blink;
  animation-duration: 0.3s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#battery.charging,
#battery.plugged {
  color: @yellow;
  animation-name: none;
}

/* ****************************** */
/* Backlight (Brightness) styles  */
#backlight {
  color: @sky;
}

/* ****************************** */
/* Bluetooth styles               */
/* Network (Wifi/Ethernet) styles */
#bluetooth,
#network {
  color: @lavender;
}

/* ****************************** */
/* Pulseaudio styles */
#pulseaudio {
  color: @rosewater;
}

/* Animations */
@keyframes blink {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}
