// https://yalter.github.io/niri/Configuration%3A-Layout.html
layout {
    gaps 10
    background-color "#151515"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; }

    focus-ring { off; }
    border { off; }
}
